# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
